@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-montserrat antialiased;
  font-display: optional;
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl font-semibold mb-8 lg:leading-normal;
}

h2 {
  @apply text-xl md:text-2xl lg:text-4xl font-normal lg:leading-normal mb-3;
}

h3 {
  @apply text-5xl mb-1;
}

h4 {
  @apply uppercase text-base tracking-wider mb-3;
}

p {
  @apply text-sm;
}

header nav a {
  @apply uppercase font-semibold;
}

.menu-mobile {
  @apply sm:hidden z-50 inline-flex items-center justify-center p-2 text-white focus:outline-none;
}

article {
  @apply font-normal;
}

article h1 {
  @apply text-4xl lg:text-5xl mb-0 font-bold leading-tight;
}

article h2 {
  @apply py-8 text-xl lg:text-4xl font-semibold;
}

article h3 {
  @apply text-sm lg:text-lg font-light leading-relaxed;
}

article p {
  @apply text-lg lg:text-xl mb-8;
}

article li {
  @apply text-lg lg:text-xl mb-2;
}

img {
  @apply w-full h-auto;
}

img.radio-3-2 {
  aspect-ratio: 3/2;
}