{{ define "main" }}

<section class="mt-48 lg:mt-56" id="hero">
  <div class="mx-auto container lg:px-6">
    <h1>{{ .Title }}</h1>
    <h2>{{ .Description }}</h2>
  </div>
</section>

<section class="w-full flex flex-col items-center" id="mywork">
  <div class="max-w-7xl flex justify-center flex-wrap">
    {{ range (where .Site.RegularPages "Type" "portfolio").ByDate | first 8 }}
    <div class="lg:p-12 sm:w-1/2 text-center">
      <a class="text-base block duration-700 transform-gpu hover:-translate-y-4" href="{{ .Permalink }}">
        {{ with .Params.thumb }}
        {{ $img := resources.Get . }}
        {{ $r := $img.Resize "640x webp q85" }}
        <img src="{{ $r.RelPermalink }}" width="{{ $r.Width }}" height="{{ $r.Height }}" alt="work-thumb" loading="lazy" decoding="async" />
        {{end}}
        <p class="mt-4 mb-10 lg:mt-12 text-sm font-normal">
          {{ .Title }}
        </p>
      </a>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}